## Week 4
### AB-testing

In this jupyter-notebook we will learn how check A/B-test result

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
df_a = pd.read_csv('data/data_ab_res_a.csv')
df_b = pd.read_csv('data/data_ab_res_b.csv')

`Group A` - communicate with clients according new better model

`Group B` - communicate with clients according old model

In [3]:
df_a.head()

,age,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,...,education_professional.course,education_university.degree,education_unknown,housing_no,housing_unknown,housing_yes,loan_no,loan_unknown,loan_yes,target
0,35,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
1,36,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
2,63,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
3,30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
4,33,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0

In [4]:
df_b.head()

,age,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,...,education_professional.course,education_university.degree,education_unknown,housing_no,housing_unknown,housing_yes,loan_no,loan_unknown,loan_yes,target
0,49,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,26,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,38,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,38,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,44,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

__Column description:__


- `age` (numeric)
- `job` : type of job (categorical: "admin.","blue-collar","entrepreneur","housemaid","management","retired","self-employed","services","student","technician","unemployed","unknown")
- `marital` : marital status (categorical: "divorced","married","single","unknown"; note: "divorced" means divorced or widowed)
- `education` (categorical: "basic.4y","basic.6y","basic.9y","high.school","illiterate","professional.course","university.degree","unknown")
- `default`: has credit in default? (categorical: "no","yes","unknown")
- `housing`: has housing loan? (categorical: "no","yes","unknown")
- `loan`: has personal loan? (categorical: "no","yes","unknown")

___Output variable (A/B test results):___

- `target` - has the client subscribed a term deposit? (binary: "yes","no")

### Randomization checking

Check clients randomization by calculation metrics of clients factors.
Mean, median nd variance

In [5]:
targ_cols = [i for i in df_a.columns if i != 'target']

In [6]:
for i in targ_cols:
    mean_a = np.mean(df_a[i])
    mean_b = np.mean(df_b[i])
    median_a = np.mean(df_a[i])
    median_b = np.mean(df_b[i])
    
    var_a = np.var(df_a[i])
    var_b = np.var(df_b[i])
    
    mean = mean_a/mean_b
    median = median_a/median_b
    var = var_a/var_b

    if mean > 1.1 or mean < 0.9 or median > 1.1 or median < 0.9 or var > 1.1 or var < 0.9:
        tmp = 'NO RANDOM'
    else:
        tmp = 'OK'
    print(i, '--', tmp, '-- mean rate:', round(mean, 2), 
          'median rate:', round(median, 2), 'var rate:', round(median, 2))

age -- OK -- mean rate: 1.0 median rate: 1.0 var rate: 1.0
job_admin. -- OK -- mean rate: 1.01 median rate: 1.01 var rate: 1.01
job_blue-collar -- OK -- mean rate: 0.98 median rate: 0.98 var rate: 0.98
job_entrepreneur -- OK -- mean rate: 0.96 median rate: 0.96 var rate: 0.96
job_housemaid -- OK -- mean rate: 0.97 median rate: 0.97 var rate: 0.97
job_management -- OK -- mean rate: 1.0 median rate: 1.0 var rate: 1.0
job_retired -- OK -- mean rate: 1.07 median rate: 1.07 var rate: 1.07
job_self-employed -- OK -- mean rate: 1.02 median rate: 1.02 var rate: 1.02
job_services -- OK -- mean rate: 0.99 median rate: 0.99 var rate: 0.99
job_student -- OK -- mean rate: 1.09 median rate: 1.09 var rate: 1.09
job_technician -- OK -- mean rate: 1.0 median rate: 1.0 var rate: 1.0
job_unemployed -- OK -- mean rate: 1.06 median rate: 1.06 var rate: 1.06
job_unknown -- OK -- mean rate: 1.03 median rate: 1.03 var rate: 1.03
marital_divorced -- OK -- mean rate: 1.01 median rate: 1.01 var rate: 1.01
marital_married -- OK -- mean rate: 1.0 median rate: 1.0 var rate: 1.0
marital_single -- OK -- mean rate: 1.01 median rate: 1.01 var rate: 1.01
marital_unknown -- NO RANDOM -- mean rate: 1.16 median rate: 1.16 var rate: 1.16
education_basic.4y -- OK -- mean rate: 0.98 median rate: 0.98 var rate: 0.98
education_basic.6y -- OK -- mean rate: 1.01 median rate: 1.01 var rate: 1.01
education_basic.9y -- OK -- mean rate: 0.98 median rate: 0.98 var rate: 0.98
education_high.school -- OK -- mean rate: 1.0 median rate: 1.0 var rate: 1.0
education_illiterate -- NO RANDOM -- mean rate: 1.16 median rate: 1.16 var rate: 1.16
education_professional.course -- OK -- mean rate: 1.0 median rate: 1.0 var rate: 1.0
education_university.degree -- OK -- mean rate: 1.01 median rate: 1.01 var rate: 1.01
education_unknown -- OK -- mean rate: 1.01 median rate: 1.01 var rate: 1.01
housing_no -- OK -- mean rate: 0.99 median rate: 0.99 var rate: 0.99
housing_unknown -- OK -- mean rate: 1.01 median rate: 1.01 var rate: 1.01
housing_yes -- OK -- mean rate: 1.01 median rate: 1.01 var rate: 1.01
loan_no -- OK -- mean rate: 1.0 median rate: 1.0 var rate: 1.0
loan_unknown -- OK -- mean rate: 1.01 median rate: 1.01 var rate: 1.01
loan_yes -- OK -- mean rate: 1.0 median rate: 1.0 var rate: 1.0

Clients in A/B test was random

### Statistical significance testing.

#### Average treatment effect (ATE) â€“ the average difference of the sample parameter

In [7]:
Y_a = np.mean(df_a['target'])
Y_b = np.mean(df_b['target'])

In [8]:
ATE = Y_a - Y_b

In [9]:
print('Difference in response = ', round(ATE, 3))

Difference in response =  0.057

#### Significance testing is used after A/B test (to verify the effect)

`Studentâ€™s t-test` - the variances in Y within group A and B are `similar`

`Welchâ€™s t-test` - the variances in Y within group A and B are `different`

Check  variances in Y within group A and B

In [10]:
var_a = np.var(df_a['target'])
var_b = np.var(df_b['target'])

In [11]:
print('Vaiance in group A = ', round(var_a, 4))
print('Vaiance in group B = ', round(var_b, 4))

Vaiance in group A =  0.1409
Vaiance in group B =  0.1

`Null Hypothesis`: the means of both populations are equal

`Alternate Hypothesis`: the means of both populations are not equal

In [12]:
stats.ttest_ind(df_a['target'], df_b['target'], equal_var = False)

Ttest_indResult(statistic=17.322636931888905, pvalue=5.9255962020386293e-67)

### p-value is too smal, so we reject `Null Hypothesis` and can accept `Alternate Hypothesis`